@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Italic.eot");
  src: local("../fonts/TT Norms Italic"), local("TTNorms-Italic"), url("../fonts/TTNorms-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Italic.woff2") format("woff2"), url("../fonts/TTNorms-Italic.woff") format("woff"), url("../fonts/TTNorms-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-MediumItalic.eot");
  src: local("../fonts/TT Norms Medium Italic"), local("TTNorms-MediumItalic"), url("../fonts/TTNorms-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-MediumItalic.woff2") format("woff2"), url("../fonts/TTNorms-MediumItalic.woff") format("woff"), url("../fonts/TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Medium.eot");
  src: local("../fonts/TT Norms Medium"), local("TTNorms-Medium"), url("../fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Regular.eot");
  src: local("../fonts/TT Norms Regular"), local("TTNorms-Regular"), url("../fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Анимации */
@-webkit-keyframes fadeOutFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes openMobileMenu {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes openMobileMenu {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes closeMobileMenu {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes closeMobileMenu {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.animOpenMobileMenu {
  -webkit-animation: openMobileMenu 1s ease-in-out;
          animation: openMobileMenu 1s ease-in-out;
}

.animCloseMobileMenu {
  -webkit-animation: closeMobileMenu 1s ease-in-out;
          animation: closeMobileMenu 1s ease-in-out;
}

.fadeOutFromNone {
  -webkit-animation: fadeOutFromNone 1s ease-in-out;
          animation: fadeOutFromNone 1s ease-in-out;
}

:root {
  --131313: #131313;
  --739276: #739276;
  --e0dccd: #e2d6a7;
  --efefef: #efefef;
  --383838: #333;
  --hover: #5B7E5E;
  --font-family: "TT Norms", sans-serif;
}

* {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: unset;
  color: unset;
}

body {
  background-color: #F2F2F2;
}

.none {
  display: none !important;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 50px;
  height: inherit;
  overflow-x: hidden;
}

.title-h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  color: var(--383838);
}

.title-h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.title-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--739276);
  padding: 15px 30px;
  border: 1px solid var(--739276);
  border-radius: 99px;
}

.btn-hover {
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}
.btn-hover:hover {
  background-color: var(--hover);
}

.modal-discount {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal-discount__wrapper {
  max-width: 560px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  position: relative;
  padding: 40px 20px;
}
.modal-discount__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 62%;
  text-transform: uppercase;
  text-align: center;
  color: var(--739276);
  margin-bottom: 20px;
}
.modal-discount__title-bold {
  font-weight: 800;
}
.modal-discount__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: var(--131313);
  margin-bottom: 30px;
}
.modal-discount__text-bold {
  font-weight: 500;
}
.modal-discount__btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--739276);
  width: 100%;
  max-width: 370px;
  padding: 17px 34px;
  border: 1px solid var(--739276);
  border-radius: 100px;
}
.modal-discount__close {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 15px;
  right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
.header__logo {
  width: 203px;
}
.header__menu-wrapper {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 30px;
  border-radius: 3px;
  gap: 20px;
  width: 100%;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.header__menu-item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 13px;
  line-height: 154%;
  text-transform: uppercase;
  color: var(--383838);
}
.header__contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__address {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  border-left: 1px solid var(--efefef);
}
.header__address-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--131313);
}
.header__сonnection {
  padding-left: 20px;
  border-left: 1px solid var(--efefef);
}
.header__phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.header__phone-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--131313);
}
.header__email-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__email-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--131313);
}
.header__mobile-burger {
  display: none;
}

.mobile-modal-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}
.mobile-modal-menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.mobile-modal-menu__menu-item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 154%;
  text-transform: uppercase;
  color: var(--383838);
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--efefef);
}
.mobile-modal-menu__contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.mobile-modal-menu__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}
.mobile-modal-menu__address-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 143%;
  color: var(--131313);
  text-align: center;
}
.mobile-modal-menu__сonnection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.mobile-modal-menu__phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-modal-menu__phone-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 143%;
  color: var(--131313);
}
.mobile-modal-menu__email-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-modal-menu__email-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 143%;
  color: var(--131313);
}
.mobile-modal-menu__menu-icon {
  width: 40px;
}
.mobile-modal-menu__close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.footer {
  padding: 30px 0;
  background: var(--739276);
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.footer__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  margin-bottom: 23px;
}
.footer__copy {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--efefef);
}
.footer__block-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--efefef);
  margin-bottom: 20px;
}
.footer__info-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.footer__info-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--efefef);
}
.footer__social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__contacts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.footer__contacts-phone-1 {
  margin-right: 10px;
}
.footer__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__contacts-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  white-space: nowrap;
}

/* Главная страница*/
.main-first-window {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 120px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.main-first-window::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
  pointer-events: none;
}
.main-first-window__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-animation: zoom 0.8s ease-in-out;
          animation: zoom 0.8s ease-in-out;
}
.main-first-window__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  position: relative;
  z-index: 2;
}
.main-first-window__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
.main-first-window__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.main-first-window__label {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 99px;
  padding: 8px 20px;
  width: 116px;
  height: 34px;
  /*     backdrop-filter: blur(50px); */
  background: rgba(115, 146, 118, 0.7);
}
.main-first-window__label-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 146%;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
}
.main-first-window__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  margin-bottom: 5px;
}
.main-first-window__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  margin-bottom: 50px;
}
.main-first-window__slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.main-first-window__slider-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.main-first-window__slider-current-number {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #b6b6b6;
}
.main-first-window__slider-numbers-dash {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
}
.main-first-window__slider-total-number {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
}
.main-first-window__arrow-right {
  pointer-events: none;
}
.main-first-window__arrow-left {
  pointer-events: none;
}
.main-first-window__arrow-active {
  pointer-events: all;
}
.main-first-window__arrow-active svg path {
  stroke: white !important;
}
.main-first-window__booking-wrapper {
  padding: 50px 30px;
  width: 430px;
  border-radius: 3px;
  background-color: #FFF;
}
.main-first-window__booking-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  color: var(--383838);
  margin-bottom: 30px;
}
.main-first-window__date-wrapper {
  width: 100%;
  background: #f1f1f1;
  border-radius: 99px;
  height: 50px;
  padding: 7px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  margin-bottom: 15px;
}
.main-first-window__date-text-wrapper {
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.main-first-window__date-input-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #a0a0a0;
}
.main-first-window__date-input-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #1b1b1b;
}
.main-first-window__search-btn {
  width: 100%;
  padding: 17px 34px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: var(--739276);
  border-radius: 99px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}

.rooms {
  margin-bottom: 120px;
}
.rooms__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 46px;
}
.rooms__corpus-nav {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rooms__corpus-nav-item {
  padding: 13px 40px;
  border-radius: 99px;
  background-color: #d3d3d3;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 106%;
  text-align: center;
  color: var(--383838);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}
:is(.rooms__corpus-nav-item_active, .rooms__corpus-nav-item:hover) {
  color: #fff;
  background-color: var(--739276);
}
:is(.rooms__corpus-nav-item_active, .rooms__corpus-nav-item:hover) .rooms__corpus-nav-icon g rect {
  fill: #FFF;
}
.rooms__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.rooms__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--739276);
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px 0 rgba(104, 104, 104, 0.2);
          box-shadow: 0 10px 20px 0 rgba(104, 104, 104, 0.2);
  width: 25vw;
  min-width: 310px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.rooms__nav-item {
  background-color: var(--739276);
  padding: 0 20px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  height: 100px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.rooms__nav-item_active {
  background-color: var(--hover);
}
.rooms__nav-item:hover {
  background-color: var(--hover);
}
.rooms__nav-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #5b765e;
  padding: 20px 0;
}
.rooms__nav-item:first-child .rooms__nav-item-wrapper {
  border-top: unset;
}
:is(.rooms__nav-item_active, .rooms__nav-item:hover) .rooms__nav-item-wrapper {
  border-top: unset;
}
:is(.rooms__nav-item_active, .rooms__nav-item:hover) + .rooms__nav-item .rooms__nav-item-wrapper {
  border-top: unset;
}
.rooms__nav-item-text-wrapper {
  text-align: left;
}
.rooms__nav-item-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 21px;
  color: #fff;
  margin-bottom: 8px;
}
.rooms__nav-item-price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.rooms__nav-item-price-value {
  font-weight: 800;
}
.rooms__nav-item-arrow {
  width: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
:is(.rooms__nav-item_active, .rooms__nav-item:hover) .rooms__nav-item-arrow {
  width: unset;
  opacity: 1;
}
.rooms__room-content-block {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.rooms__room-img-wrapper {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.rooms__room-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  -o-object-position: center;
     object-position: center;
  width: 1080px;
}
.rooms__room-nav {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 50px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.rooms__room-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.rooms__room-preview-item {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-image: url("../img/rooms__single-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.rooms__room-preview-item_active {
  border: 1px solid #FFF;
}
.rooms__room-nav-btn {
  border-radius: 99px;
  padding: 10px 25px;
  width: 310px;
  height: 44px;
  background-color: #FFF;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--131313);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rooms__room-info-question-icon {
  padding-left: 8px;
}

.convenience {
  background: var(--739276);
  padding: 70px 0;
  width: 100%;
  margin-bottom: 100px;
}
.convenience__title {
  text-align: center;
  margin-bottom: 40px;
  color: #FFF;
}
.convenience__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.convenience__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.convenience__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 0px 60px;
  border-right: 1px solid #647d67;
}
.convenience__item:last-child .convenience__item-wrapper {
  border-right: unset;
}
.convenience__item-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #fff;
}
.convenience__item-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.convenience__btn {
  border: 1px solid var(--e0dccd);
  border-radius: 99px;
  padding: 20px 50px;
  display: block;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--e0dccd);
}

.gallery-restaurant {
  margin-bottom: 120px;
}
.gallery-restaurant__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.gallery-restaurant__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-bottom: 30px;
}
.gallery-restaurant__nav-btn {
  padding: 13px 30px;
  border-radius: 99px;
  background-color: #d3d3d3;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 136%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: var(--383838);
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
:is(.gallery-restaurant__nav-btn_active, .gallery-restaurant__nav-btn:hover) {
  background-color: var(--739276);
  color: #fff;
}
.gallery-restaurant__img-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.gallery-restaurant__img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.gallery-restaurant__menu-devider {
  background: #d3d3d3;
  height: 1px;
  width: 100%;
  margin-bottom: 30px;
}
.gallery-restaurant__menu-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--383838);
  margin-bottom: 50px;
}
.gallery-restaurant__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  overflow-x: auto;
  margin-bottom: 40px;
}
.gallery-restaurant__menu-nav-item {
  border-radius: 99px;
  padding: 12px 23px;
  background: #d3d3d3;
  -webkit-transition: background 0.8s ease;
  transition: background 0.8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--383838);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
:is(.gallery-restaurant__menu-nav-item_active, .gallery-restaurant__menu-nav-item:hover) {
  background: var(--739276);
  color: #fff;
}
.gallery-restaurant__menu-nav-icon g rect {
  fill: var(--383838);
}
:is(.gallery-restaurant__menu-nav-item_active, .gallery-restaurant__menu-nav-item:hover) .gallery-restaurant__menu-nav-icon g rect {
  fill: white;
}
:is(.gallery-restaurant__menu-nav-item_active, .gallery-restaurant__menu-nav-item:hover) .gallery-restaurant__menu-nav-icon path {
  stroke: white;
}
.gallery-restaurant__menu-section {
  width: 560px;
}
.gallery-restaurant__menu-section-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: 0.1em;
  color: var(--383838);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.gallery-restaurant__menu-devider-wave {
  width: 100%;
  background-image: url("../img/menu-devider.svg");
  background-repeat: no-repeat;
  height: 10px;
  margin-bottom: 20px;
}
.gallery-restaurant__menu-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.gallery-restaurant__menu-food-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.gallery-restaurant__menu-food-item-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  color: var(--131313);
  margin-bottom: 7px;
}
.gallery-restaurant__menu-food-item-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--383838);
}
.gallery-restaurant__menu-food-item-price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  text-align: right;
  color: var(--131313);
  min-width: 70px;
}

.gallery-spa {
  margin-bottom: 120px;
}
.gallery-spa__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery-spa__img-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.gallery-spa__img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.advantages {
  padding: 70px 0;
  background: var(--739276);
  margin-bottom: 120px;
}
.advantages__title {
  margin-bottom: 30px;
}
.advantages__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.advantages__card {
  text-align: center;
  border-right: 1px solid #647d67;
}
.advantages__card:last-child {
  border-right: unset;
}
.advantages__card-icon {
  margin-bottom: 8px;
}
.advantages__card-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #fff;
}

.guarantee {
  margin-bottom: 120px;
}
.guarantee__title {
  text-align: center;
  margin-bottom: 10px;
}
.guarantee__title-green {
  color: var(--739276);
  font-family: var(--font-family);
  font-weight: 700;
  text-align: center;
}
.guarantee__descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--383838);
  margin-bottom: 55px;
}
.guarantee__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.guarantee__img-block {
  height: 100%;
  border-radius: 3px;
}
.guarantee__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 3px;
}
.guarantee__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-bottom: 55px;
}
.guarantee__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}
.guarantee__card-number {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 72px;
  text-transform: uppercase;
  color: var(--739276);
}
.guarantee__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--383838);
}
.guarantee__text-green {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--739276);
}
.guarantee__btn {
  display: block;
  margin: 0 auto;
  border-radius: 99px;
  padding: 14px 50px;
  width: 100%;
  background-color: var(--739276);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

/* Страница "Номера" */
.rooms-page {
  background-image: url(../img/rooms-bg.jpg);
  height: 692px;
}
.rooms-page__header {
  margin-bottom: 85px;
}

.rooms-card {
  margin-top: -474px;
}

.rooms-card .rooms__nav {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 20vw;
  max-width: 400px;
}
.rooms-card .rooms__room-content-block {
  height: 470px;
}
.rooms-card .rooms__room-img {
  min-width: 100%;
}
.rooms-card .rooms__room-info-block {
  margin-bottom: 40px;
  padding: 0 15px;
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
.rooms-card .rooms__room-info {
  padding: 25px 30px 88px 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(104, 104, 104, 0.2);
          box-shadow: 0px 10px 20px rgba(104, 104, 104, 0.2);
  border-radius: 25px 25px 3px 3px;
}
.rooms-card .rooms__room-info-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rooms-card .rooms__room-info-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  color: var(--131313);
}
.rooms-card .rooms__room-info-price-wrapper {
  margin-bottom: 20px;
}
.rooms-card .rooms__room-info-price-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #666;
}
.rooms-card .rooms__room-info-price-value {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  color: var(--739276);
}
.rooms-card .rooms__room-info-price {
  font-weight: 400;
  font-size: 18px;
  color: #666;
}
.rooms-card .rooms__room-info-devider-wave {
  width: 100%;
  background-image: url(../img/rooms__long-wave-icon.svg);
  height: 10px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
.rooms-card .rooms__room-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rooms-card .rooms__room-info-descripttion {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--383838);
  max-width: 525px;
  margin-bottom: 25px;
}
.rooms-card .rooms__room-info-content-devider-wave {
  width: 100%;
  background-image: url(../img/rooms__long-wave-icon.svg);
  height: 10px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
.rooms-card .rooms__room-info-content-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.rooms-card .rooms__room-info-content-card {
  border-right: 1px solid #d9d9d9;
}
.rooms-card .rooms__room-info-content-card:last-child {
  border-right: unset;
  margin-right: 0px;
  padding-right: 0px;
}
.rooms-card .rooms__room-info-content-card-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}
.rooms-card .rooms__room-info-content-card-title-icon {
  width: 30px;
  height: 30px;
}
.rooms-card .rooms__room-info-content-card-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--739276);
}
.rooms-card .rooms__room-info-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding-left: 15px;
}
.rooms-card .rooms__room-info-content-list-item {
  list-style-type: disc;
  list-style-position: outside;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--383838);
}
.rooms-card .rooms__room-info-content-list-item::marker {
  color: var(--739276);
}
.rooms-card .rooms__room-info-characteristics-cards {
  max-width: 202px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.rooms-card .rooms__room-info-characteristics-card-icon {
  margin-bottom: 7px;
  height: 30px;
  width: 30px;
}
.rooms-card .rooms__room-info-characteristics-card-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--739276);
}

/* Страница "Ресторан" */
.restaurant-page {
  margin-bottom: 100px;
}
.restaurant-page__title {
  margin-bottom: 50px;
}
.restaurant-page__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}
.restaurant-page__img-wrapper {
  height: 100%;
}
.restaurant-page__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.restaurant-page__text-block {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--739276);
  margin-bottom: 30px;
}
.restaurant-page__text-block-green {
  font-weight: 400;
  color: var(--131313);
}
.restaurant-page__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.restaurant-page__card {
  padding: 15px 15px 10px 15px;
  border-radius: 3px;
  background: #e3e3e3;
}
.restaurant-page__card-img {
  width: 54px;
  height: 54px;
  margin-bottom: 5px;
}
.restaurant-page__card-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  color: var(--383838);
  margin-bottom: 5px;
}
.restaurant-page__card-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: var(--383838);
}

/* Страницы "СПА", "Бизнес центр" */
.section-page {
  margin-bottom: 100px;
}
.section-page__title {
  margin-bottom: 50px;
}
.section-page__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}
.section-page__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section-page__text {
  font-weight: 400;
  color: var(--131313);
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 40px;
}
.section-page__text-green {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--739276);
}
.section-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.section-page__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.section-page__list-icon {
  width: 18px;
  height: 20px;
}
.section-page__list-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  color: var(--739276);
}

/* Страница "Контакты" */
.contacts-page-bg {
  background: var(--739276);
}

.contacts-page {
  margin-bottom: 75px;
}
.contacts-page__title {
  margin-bottom: 30px;
  color: #fff;
}
.contacts-page__devider-wave {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/contacts-wave-icon.svg");
  height: 10px;
  margin-bottom: 30px;
}
.contacts-page__contacts {
  max-width: 1190px;
}
.contacts-page__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  margin-bottom: 33px;
}
.contacts-page__card-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 13px;
}
.contacts-page__card-icon {
  height: 22px;
  width: 22px;
}
.contacts-page__card-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.contacts-page__card-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.contacts-page__card-text_left {
  margin-right: 16px;
}
.contacts-page__social-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.contacts-page__social-card-icon {
  height: 40px;
  width: 40px;
}

.contacts-map {
  margin-bottom: 125px;
  margin-top: -25px;
}
.contacts-map__wrapper {
  border-radius: 25px 25px 3px 3px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 20px rgba(104, 104, 104, 0.2);
          box-shadow: 0px 10px 20px rgba(104, 104, 104, 0.2);
  margin-bottom: 30px;
}

/* Медиа запросы */
@media (max-width: 1600px) {
  .header__menu {
    display: none;
  }
  .header__mobile-burger {
    display: block;
  }
  .header__menu-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__address {
    padding-left: unset;
    border-left: unset;
  }
  .convenience__items {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
  }
  .convenience__item:nth-child(3) .convenience__item-wrapper {
    border-right: unset;
  }
}
@media (max-width: 1400px) {
  .guarantee__wrapper {
    gap: 40px;
    min-height: 380px;
  }
  .guarantee__cards {
    gap: 30px;
  }
  .rooms-card .rooms__room-info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rooms-card .rooms__room-info-characteristics-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 60px;
    max-width: unset;
  }
  .rooms-card .rooms__room-info-characteristics-card-icon {
    margin-bottom: 10px;
  }
}
@media (max-width: 1180px) {
  .title-h2 {
    font-size: 48px;
  }
  .title-h3 {
    font-size: 36px;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__contacts-wrapper {
    display: none;
  }
  .header__menu-wrapper {
    width: unset;
    background: var(--739276);
    border-radius: 100%;
    padding: 20px;
  }
  .header__mobile-burger-icon path {
    fill: white;
  }
  .footer__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .footer__logo-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contacts-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-first-window__title {
    font-size: 48px;
  }
  .rooms__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .rooms__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    overflow-x: scroll;
  }
  .rooms__nav-item {
    padding: 0 40px;
    border-right: 1px solid var(--efefef);
  }
  .rooms__nav-item-arrow {
    display: none;
  }
  .rooms__nav-item-wrapper {
    border-bottom: unset;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .gallery-restaurant__img-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .advantages__cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .advantages__card {
    border-right: unset;
  }
  .guarantee__wrapper {
    grid-template-columns: 1fr;
  }
  .guarantee__img {
    width: 100%;
  }
  .guarantee__cards {
    justify-items: center;
  }
  .rooms-card .rooms__nav {
    width: unset;
    max-width: unset;
  }
  .rooms-card .rooms__nav-item-wrapper {
    border-top: unset;
  }
  .restaurant-page__wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .restaurant-page__img {
    max-height: 500px;
  }
  .section-page__wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .section-page__img {
    width: 100%;
    max-height: 500px;
  }
  .contacts-page__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 960px) {
  .title-h2 {
    font-size: 42px;
  }
  .title-h3 {
    font-size: 32px;
  }
  .main-first-window {
    height: 100%;
    padding-bottom: 60px;
  }
  .main-first-window__block {
    gap: 40px;
  }
  .main-first-window__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .main-first-window__labels {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-first-window__title {
    text-align: center;
  }
  .main-first-window__description {
    text-align: center;
  }
  .main-first-window__slider-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .convenience__items {
    max-width: 300px;
    gap: 40px;
  }
  .convenience__item-wrapper {
    border-right: unset;
  }
}
@media (max-width: 840px) {
  .rooms__room-nav {
    padding: 15px 20px;
  }
  .rooms__title-button {
    padding: 10px 20px;
  }
  .rooms__nav-item {
    height: unset;
  }
  .gallery-restaurant__img-cards {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-restaurant__title-button {
    padding: 10px 20px;
  }
  .rooms-card .rooms__room-info-content-cards {
    grid-template-columns: 1fr 1fr;
  }
  .rooms-card .rooms__room-info-content-card {
    border-right: unset;
    margin-right: unset;
  }
  .rooms-card .rooms__room-info-characteristics-cards {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .rooms-card .rooms__room-nav {
    bottom: 30px;
  }
  .rooms-card .rooms__room-content-block {
    height: 100%;
  }
}
@media (max-width: 680px) {
  .container {
    padding: 0 15px;
  }
  .title-h2 {
    font-size: 36px;
  }
  .footer__wrapper {
    grid-template-columns: 1fr;
  }
  .footer__info-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__info-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__info-link {
    text-align: center;
  }
  .footer__contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__contacts-text {
    white-space: unset;
  }
  .rooms__room-nav {
    gap: 20px;
  }
  .rooms__room-nav-btn {
    width: 238px;
    height: 38px;
  }
  .rooms__room-preview {
    gap: 7px;
  }
  .rooms__room-preview-item {
    width: 36px;
    height: 36px;
  }
  .rooms__room-img {
    min-height: 320px;
  }
  .rooms__nav-item-wrapper {
    padding: 10px 0;
  }
  .rooms__title-wrapper {
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rooms__corpus-nav {
    overflow-x: scroll;
    gap: 10px;
  }
  .rooms__corpus-nav-item {
    min-width: 237px;
  }
  .gallery-restaurant__title-wrapper {
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery-restaurant__menu-section {
    width: 100%;
  }
  .gallery-restaurant__menu-food-item {
    gap: 60px;
  }
  .guarantee__cards-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .guarantee__cards {
    grid-template-columns: 1fr;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .guarantee__card {
    width: 265px;
  }
  .guarantee__card-number {
    font-size: 60px;
  }
  .guarantee__text {
    font-size: 16px;
  }
  .guarantee__img {
    min-height: 250px;
  }
  .rooms-card .rooms__room-info-content-cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .rooms-card .rooms__room-info-characteristics-cards {
    grid-template-columns: 1fr;
  }
  .rooms-card .rooms__room-info-title-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  .restaurant-page__cards {
    grid-template-columns: 1fr;
  }
  .section-page__text {
    font-size: 20px;
  }
  .section-page__text-green {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .header__logo {
    width: 120px;
  }
  .header__mobile-burger {
    width: 30px;
  }
  .header__menu-wrapper {
    padding: 16px;
  }
  .main-first-window__booking-wrapper {
    width: 100%;
  }
  .main-first-window__title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .main-first-window__description {
    font-size: 20px;
  }
  .main-first-window__label {
    width: 98px;
  }
  .main-first-window__label-text {
    font-size: 10px;
  }
  .gallery-restaurant__img-cards {
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery-spa__img-cards {
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rooms-card .rooms__room-info-block {
    padding-left: 0;
    padding-right: 0;
  }
  .rooms-page {
    height: 600px;
  }
  .contacts-map__wrapper {
    height: 400px;
  }
}
@media (max-width: 389px) {
  .mobile-modal-menu__logo {
    width: 160px;
  }
  .gallery-restaurant__menu-food-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px;
  }
  .gallery-restaurant__menu-food-item-price {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */