@import './reset';

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Italic.eot');
    src: local('../fonts/TT Norms Italic'), local('TTNorms-Italic'),
        url('../fonts/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Italic.woff2') format('woff2'),
        url('../fonts/TTNorms-Italic.woff') format('woff'),
        url('../fonts/TTNorms-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-MediumItalic.eot');
    src: local('../fonts/TT Norms Medium Italic'), local('TTNorms-MediumItalic'),
        url('../fonts/TTNorms-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-MediumItalic.woff2') format('woff2'),
        url('../fonts/TTNorms-MediumItalic.woff') format('woff'),
        url('../fonts/TTNorms-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Medium.eot');
    src: local('../fonts/TT Norms Medium'), local('TTNorms-Medium'),
        url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Medium.woff2') format('woff2'),
        url('../fonts/TTNorms-Medium.woff') format('woff'),
        url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Regular.eot');
    src: local('../fonts/TT Norms Regular'), local('TTNorms-Regular'),
        url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Regular.woff2') format('woff2'),
        url('../fonts/TTNorms-Regular.woff') format('woff'),
        url('../fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Анимации */
@keyframes fadeOutFromNone {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes zoom {
    0% { transform: scale(1.1)}
    100% { transform: scale(1)}
}

@keyframes openMobileMenu {
    0% { height: 0%}
    100% { height: 100%}
}

@keyframes closeMobileMenu {
    0% { height: 100%}
    100% { height: 0%}
}

.animOpenMobileMenu {
    animation: openMobileMenu 1s ease-in-out;
}

.animCloseMobileMenu {
    animation: closeMobileMenu 1s ease-in-out;
}


.fadeOutFromNone {
    animation: fadeOutFromNone 1s ease-in-out;
}

:root {
	--131313: #131313;
	--739276: #739276;
	--e0dccd: #e2d6a7;
	--efefef: #efefef;
	--383838: #333;
    --hover: #5B7E5E;
    --font-family: "TT Norms", sans-serif;
}


*{
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: unset;
    color: unset;
}

body {
    background-color: #F2F2F2;
}

.none {
    display: none !important;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 50px;
    height: inherit;
    overflow-x: hidden;
}

.title-h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    color: var(--383838);
}

.title-h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #fff;
}

.title-button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--739276);
    padding: 15px 30px;
    border: 1px solid var(--739276);
    border-radius: 99px;
}

.btn-hover {
    transition: background-color .8s ease;

    &:hover {
        background-color: var(--hover);
    }
}

.modal-discount {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    &__wrapper {
        max-width: 560px;
        background: #fff;
        border-radius: 15px;
        text-align: center;
        position: relative;
        padding: 40px 20px;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 32px;
        line-height: 62%;
        text-transform: uppercase;
        text-align: center;
        color: var(--739276);
        margin-bottom: 20px;
    }

    &__title-bold {
        font-weight: 800;
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: var(--131313);
        margin-bottom: 30px;
    }

    &__text-bold {
        font-weight: 500;
    }

    &__btn {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: var(--739276);
        width: 100%;
        max-width: 370px;
        padding: 17px 34px;
        border: 1px solid var(--739276);
        border-radius: 100px;
    }

    &__close {
        position: absolute;
        height: 32px;
        width: 32px;
        top: 15px;
        right: 15px;
    }
}




.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;

    &__logo {
        width: 203px;
    }

    &__menu-wrapper {
        background-color: #FFF;
        display: flex;
        align-items: center;
        padding: 17px 30px;
        border-radius: 3px;
        gap: 20px;
        width: 100%;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 35px;
    }

    &__menu-item {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 13px;
        line-height: 154%;
        text-transform: uppercase;
        color: var(--383838);
    }

    &__contacts-wrapper {
        display: flex;
    }

    &__address {
        max-width: 280px;
        display: flex;
        gap: 10px;
        align-items: center;
        padding-left: 20px;
        border-left: 1px solid var(--efefef);
    }

    &__address-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--131313);
    }

    &__сonnection {
        padding-left: 20px;
        border-left: 1px solid var(--efefef);
    }

    &__phone-wrapper {
        display: flex;
        gap: 13px;
        align-items: center;
        margin-bottom: 8px;
    }

    &__phone-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--131313);
    }

    &__email-wrapper {
        display: flex;
        gap: 13px;
        align-items: center;
    }

    &__email-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--131313);
    }

    &__mobile-burger {
        display: none;
    }
}
.mobile-modal-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100000;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__menu-item {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 154%;
        text-transform: uppercase;
        color: var(--383838);
        width: 100%;
        height: 80px;
        border-bottom: 1px solid var(--efefef);
    }

    &__contacts-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    &__address {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        padding: 0 20px;
    }

    &__address-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 143%;
        color: var(--131313);
        text-align: center;
    }

    &__сonnection {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    &__phone-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column;
  
    }

    &__phone-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 143%;
        color: var(--131313);
    }

    &__email-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column;
    }

    &__email-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 143%;
        color: var(--131313);
    }

    &__menu-icon {
        width: 40px;
    }
    
    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}



    .footer {

		padding: 30px 0;
        background: var(--739276);
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 40px;
        }

		&__logo-wrapper {
            display: flex;
            align-items: flex-start;
            
		}

        &__logo-block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

		&__logo {
            margin-bottom: 23px;
		}

		&__copy {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            text-align: center;
            color: var(--efefef);
		}

        &__block-title {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            text-transform: uppercase;
            color: var(--efefef);
            margin-bottom: 20px;
        }

		&__info-links {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 7px;
		}

		&__info-link {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: var(--efefef);
		}

		&__social-items {
            display: flex;
            gap: 20px;
		}

		&__contacts-items {
            display: flex;
            flex-direction: column;
            gap: 12px;
		}
        &__contacts-phone-1 {
            margin-right: 10px;
        }

		&__contacts-item {
            display: flex;
            align-items: center;
            gap: 10px;
		}

		&__contacts-text {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: #fff;
            white-space: nowrap;
		}
}





/* Главная страница*/

.main-first-window {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 120px;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        z-index: 1;
        pointer-events: none;
      }

      &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        animation: zoom .8s ease-in-out;
    }

    &__block {
       display: flex;
       flex-direction: column;
       height: inherit;
       position: relative;
       z-index: 2;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-between;
        gap: 15px;
    }

    &__labels {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 25px;
    }

    &__label {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 99px;
        padding: 8px 20px;
        width: 116px;
        height: 34px;
    /*     backdrop-filter: blur(50px); */
        background: rgba(115, 146, 118, 0.7);
    }

    &__label-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        line-height: 146%;
        letter-spacing: 0.1em;
        text-align: center;
        color: #fff;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 64px;
        color: #fff;
        margin-bottom: 5px;
    }

    &__description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        color: #fff;
        margin-bottom: 50px;
    }

    &__slider-nav {
        display: flex;
        gap: 20px;
    }

    &__slider-numbers {
        display: flex;
        gap: 15px;
    }

    &__slider-current-number {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        color: #b6b6b6;
    }

    &__slider-numbers-dash {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        color: #fff;
    }

    &__slider-total-number {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        color: #fff;
    }

    &__arrow-right {
        pointer-events: none;
    }

    &__arrow-left {
        pointer-events: none;
    }
    
    &__arrow-active {
        pointer-events: all;
    }

    &__arrow-active svg path{
        stroke: white !important;
    }

    &__booking-wrapper {
        padding: 50px 30px;
        width: 430px;
        border-radius: 3px;
        background-color: #FFF;   
    }

    &__booking-title {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 24px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        text-align: center;
        color: var(--383838);
        margin-bottom: 30px;
    }

    &__date-wrapper {
        width: 100%;
        background: #f1f1f1;
        border-radius: 99px;
        height: 50px;
        padding: 7px 15px;
        display: flex;
        align-items: center;
        gap: 11px;
        margin-bottom: 15px;
    }

    &__date-text-wrapper {
        padding-left: 15px;
        border-left: 1px solid #ccc;
    }

    &__date-input-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: #a0a0a0;
    }

    &__date-input-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: #1b1b1b;
    }

    &__search-btn {
        width: 100%;
        padding: 17px 34px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background: var(--739276);
        border-radius: 99px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

}


.rooms {
    margin-bottom: 120px;

    &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 46px;
    }

    &__corpus-nav {
        margin-bottom: 25px;
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &__corpus-nav-item {
        padding: 13px 40px;
        border-radius: 99px;
        background-color: #d3d3d3;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 106%;
        text-align: center;
        color: var(--383838);
        display: flex;
        align-items: center;
        gap: 10px;

        transition: background-color .8s ease;

        :is(&_active, &:hover) {
            color: #fff;
            background-color: var(--739276);
        }

    }

    :is(&__corpus-nav-item_active, &__corpus-nav-item:hover) &__corpus-nav-icon g rect{
       fill: #FFF;
    }

    &__wrapper {
        display: flex;
        gap: 60px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        background-color: var(--739276);
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 10px 20px 0 rgba(104, 104, 104, 0.2);
        width: 25vw;
        min-width: 310px;
        flex-shrink: 0;
    }

    &__nav-item {
        
        background-color: var(--739276);
        padding: 0 20px;
        transition: background-color .5s ease;
        height: 100px;
        transition: all .8s ease;
       
        &_active {
            background-color: var(--hover);
        }

        &:hover {
            background-color: var(--hover);
        }
    }

    &__nav-item-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #5b765e;
        padding: 20px 0;
    }

    &__nav-item:first-child &__nav-item-wrapper{
        border-top: unset;
    }

    :is(&__nav-item_active, &__nav-item:hover) &__nav-item-wrapper {
        border-top: unset;
    }

    :is(&__nav-item_active, &__nav-item:hover) + &__nav-item &__nav-item-wrapper {
        border-top: unset;
    }

    &__nav-item-text-wrapper {
        text-align: left;
    }

    &__nav-item-name {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 21px;
        color: #fff;
        margin-bottom: 8px;
    }

    &__nav-item-price {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #fff;
    }

    &__nav-item-price-value {
        font-weight: 800;
    }

    &__nav-item-arrow {
        width: 0;
        opacity: 0;
        transition: opacity .5s ease;
    }
    :is(&__nav-item_active, &__nav-item:hover) &__nav-item-arrow {
        width: unset;
        opacity: 1;
    }

    &__room-content-block {
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    &__room-img-wrapper {
        height: 100%;
        position: relative;
        display: flex;

        transition: transform 1s ease;

    }

    &__room-img {
        object-fit: cover;
        border-radius: 3px;
        object-position: center;
        width: 1080px;
    }

    &__room-nav {
        position: absolute;
        bottom: 0px;
        display:  flex;
        justify-content: space-between;
        width: 100%;
        padding: 50px 40px;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap-reverse;
    }

    &__room-preview {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        transition: all .8s ease;
    }

    &__room-preview-item {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        background-image: url('../img/rooms__single-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        &_active {
            border: 1px solid #FFF;
        }
    }

    &__room-nav-btn {
        border-radius: 99px;
        padding: 10px 25px;
        width: 310px;
        height: 44px;
        background-color: #FFF;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        color: var(--131313);

        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

    }

    &__room-info-question-icon {
        padding-left: 8px;
    }
}

.convenience {
    background: var(--739276);
    padding: 70px 0;
    width: 100%;
    margin-bottom: 100px;

    &__title {
        text-align: center;
        margin-bottom: 40px;
        color: #FFF;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 50px;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }

    &__item-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        
        padding: 0px 60px;
        border-right: 1px solid #647d67;;
    }

    &__item:last-child &__item-wrapper{
        border-right: unset;
    }

    &__item-name {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 17px;
        text-align: center;
        color: #fff;
    }

    &__item-descr {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #fff;
    }

    &__btn {
        border: 1px solid var(--e0dccd);
        border-radius: 99px;
        padding: 20px 50px;
        display: block;
        margin: 0 auto;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: var(--e0dccd);
    }
}


.gallery-restaurant {
    margin-bottom: 120px;

    &__title-wrapper {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__nav {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        margin-bottom: 30px;
    }

    &__nav-btn {
        padding: 13px 30px;
        border-radius: 99px;
        background-color: #d3d3d3;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 136%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        color: var(--383838);
        min-width: max-content;

        transition: background-color .4s ease;

        :is(&_active, &:hover) {
            background-color: var(--739276);
            color: #fff;
        }

    }

    &__img-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    &__img {
        object-position: center;
        object-fit: contain;
        width: 100%;
    }

    &__menu-devider {
        background: #d3d3d3;
        height: 1px;
        width: 100%;
        margin-bottom: 30px;
    }

    &__menu-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        text-transform: uppercase;
        color: var(--383838);
        margin-bottom: 50px;
    }

    &__menu-nav {
        display: flex;
        align-items: center;
        gap: 12px;
        overflow-x: auto;
        margin-bottom: 40px; 
    }

    &__menu-nav-item {
        border-radius: 99px;
        padding: 12px 23px;
        background: #d3d3d3;
        transition: background .8s ease;
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        color: var(--383838);
        flex-shrink: 0;

        :is(&_active, &:hover) {
            background: var(--739276);
            color: #fff;
        }
    }

    &__menu-nav-icon g rect{
        fill: var(--383838);
    }

    :is(&__menu-nav-item_active, &__menu-nav-item:hover) &__menu-nav-icon g rect{
        fill: white;
    }

    :is(&__menu-nav-item_active, &__menu-nav-item:hover) &__menu-nav-icon path{
        stroke: white;
    }

    &__menu-section {
        width: 560px;
    }

    &__menu-section-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 24px;
        line-height: 108%;
        letter-spacing: 0.1em;
        color: var(--383838);
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__menu-devider-wave {
        width: 100%;
        background-image: url('../img/menu-devider.svg');
        background-repeat: no-repeat;
        height: 10px;
        margin-bottom: 20px;
    }

    &__menu-food {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__menu-food-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__menu-food-item-name {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        color: var(--131313);
        margin-bottom: 7px;
    }

    &__menu-food-item-descr {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: var(--383838);
    }

    &__menu-food-item-price {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        text-align: right;
        color: var(--131313);
        min-width: 70px;
    }

}

.gallery-spa {
    margin-bottom: 120px;

    &__title-wrapper {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-between;
    }

    &__img-cards {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    &__img {
        object-position: center;
        object-fit: contain;
        width: 100%;
    }
}

.advantages {
    padding: 70px 0;
    background: var(--739276);
    margin-bottom: 120px;

    &__title {
        margin-bottom: 30px;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
    }

    &__card {
        text-align: center;
        border-right: 1px solid #647d67;;
    }
    &__card:last-child {
        border-right: unset;
    }

    &__card-icon {
        margin-bottom: 8px;

    }

    &__card-name {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 17px;
        text-align: center;
        color: #fff;
    }
}


.guarantee {
    margin-bottom: 120px;

    &__title {
        text-align: center;
        margin-bottom: 10px;
    }

    &__title-green {
        color: var(--739276);
        font-family: var(--font-family);
        font-weight: 700;
        text-align: center;
    }

    &__descr {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: var(--383838);
        margin-bottom: 55px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px;
        align-items: center;
    }

    &__img-block {
        height: 100%;
        border-radius: 3px;
    }

    &__img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 3px;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        margin-bottom: 55px;
    }

    &__card {
        display: flex;
        gap: 15px;
        align-items: center;
        width: 300px;
    }

    &__card-number {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 72px;
        text-transform: uppercase;
        color: var(--739276);
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        color: var(--383838);
    }

    &__text-green {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        color: var(--739276);
    }

    &__btn {
        display: block;
        margin: 0 auto;
        border-radius: 99px;
        padding: 14px 50px;
        width: 100%;
        background-color: var(--739276);

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
}


/* Страница "Номера" */

.rooms-page {
    background-image: url(../img/rooms-bg.jpg);
    height: 692px;
    &__header {
        margin-bottom: 85px;
    }
}


.rooms-card {
    margin-top: -474px;   
}

.rooms-card .rooms {

    &__nav {
        height: max-content;
        width: 20vw;
        max-width: 400px;
    }

    &__room-content-block {
            height: 470px;
    }

    &__room-img {
        min-width: 100%;
    }

    &__room-info-block {
        margin-bottom: 40px;
        padding: 0 15px;
        margin-top: -20px;
        position: relative;
        z-index: 5;
    }
    &__room-info {
        padding: 25px 30px 88px 30px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(104, 104, 104, 0.2);
        
        border-radius: 25px 25px 3px 3px;
    }

    &__room-info-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__room-info-title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 32px;
        color: var(--131313);
    }

    &__room-info-price-wrapper {
        margin-bottom: 20px;
    }

    &__room-info-price-subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #666;
    }

    &__room-info-price-value {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 32px;
        color: var(--739276);
    }

    &__room-info-price {
        font-weight: 400;
        font-size: 18px;
        color: #666;
    }

    &__room-info-devider-wave {
        width: 100%;
        background-image: url(../img/rooms__long-wave-icon.svg);
        height: 10px;
        background-repeat: no-repeat;
        margin-bottom: 25px;
    }

    &__room-info-wrapper {
        display: flex;
        gap: 60px;
        justify-content: space-between;
    }

    &__room-info-descripttion {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--383838);
        max-width: 525px;
        margin-bottom: 25px;
    }

    &__room-info-content-devider-wave {
        width: 100%;
        background-image: url(../img/rooms__long-wave-icon.svg);
        height: 10px;
        background-repeat: no-repeat;
        margin-bottom: 25px;
    }

    &__room-info-content-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
    }

    &__room-info-content-card {
        border-right: 1px solid #d9d9d9;
    }

    &__room-info-content-card:last-child {
        border-right: unset;
        margin-right: 0px;
        padding-right: 0px;
    }

    &__room-info-content-card-title-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px;
    }

    &__room-info-content-card-title-icon {
        width: 30px;
        height: 30px;
    }

    &__room-info-content-card-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: var(--739276);
    }

    &__room-info-content-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-left: 15px;
    }

    &__room-info-content-list-item {
        list-style-type: disc;
        list-style-position: outside; 
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: var(--383838); 
    }

    &__room-info-content-list-item::marker {
        color: var(--739276);
    }

    &__room-info-characteristics-cards {
        max-width: 202px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__room-info-characteristics-card-icon {
        margin-bottom: 7px;
        height: 30px;
        width: 30px;
    }

    &__room-info-characteristics-card-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: var(--739276);
    }

}


/* Страница "Ресторан" */

.restaurant-page {
    margin-bottom: 100px;

    &__title {
        margin-bottom: 50px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px;
        align-items: center;
        position: relative;
        height: 100%;
    }

    &__img-wrapper {
        height: 100%;
        
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }


    &__text-block {
        font-family: var(--font-family);
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: var(--739276);
        margin-bottom: 30px;
    }

    &__text-block-green {
        font-weight: 400;
        color: var(--131313);
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    &__card {
        padding: 15px 15px 10px 15px;
        border-radius: 3px;
        background: #e3e3e3; 
    }

    &__card-img {
        width: 54px;
        height: 54px;
        margin-bottom: 5px;
    }

    &__card-title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        color: var(--383838);
        margin-bottom: 5px;
    }

    &__card-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 137%;
        color: var(--383838);
    }
}

/* Страницы "СПА", "Бизнес центр" */
.section-page {
    margin-bottom: 100px;

    &__title {
        margin-bottom: 50px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px;
    }

    &__img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
  

    &__text {
        font-weight: 400;
        color: var(--131313);
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 40px;
        
    }

    &__text-green {
        font-family: var(--font-family);
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: var(--739276);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__list-item {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__list-icon {
        width: 18px;
        height: 20px;
    }

    &__list-text {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        color: var(--739276);
    }
}

/* Страница "Контакты" */
.contacts-page-bg {
    background: var(--739276);
}

.contacts-page {
    margin-bottom: 75px;
    
    &__title {
        margin-bottom: 30px;
        color: #fff;
    }

    &__devider-wave {
        width: 100%;
        background-repeat: no-repeat;
        background-image: url('../img/contacts-wave-icon.svg');
        height: 10px;
        margin-bottom: 30px;
    }

    &__contacts {
        max-width: 1190px;
    }

    &__cards {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 33px;
    }

    &__card-title-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 13px;
    }

    &__card-icon {
        height: 22px;
        width: 22px;

    }

    &__card-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #fff;
    }

    &__card-text {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        color: #fff;

        &_left {
            margin-right: 16px;
        }
    }

    &__social-cards {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__social-card-icon {
        height: 40px;
        width: 40px;
    }
}

.contacts-map {
    margin-bottom: 125px;
    margin-top: -25px;
   

    &__wrapper {
        border-radius: 25px 25px 3px 3px;
        overflow: hidden;
        box-shadow: 0px 10px 20px rgba(104, 104, 104, 0.2);
        margin-bottom: 30px;
    }
}





/* Медиа запросы */

@media (max-width: 1600px) {
    .header {

        &__menu {
            display: none;
        }

		&__mobile-burger {
            display: block;
		}

        &__menu-wrapper{
            justify-content: space-between;
        }

        &__address {
            padding-left: unset;
            border-left: unset;
        }
    }

    .convenience {
        &__items {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
            gap: 30px;
        }

        &__item:nth-child(3) &__item-wrapper {
            border-right: unset;
        }
    }
}



@media (max-width: 1400px) {
    .guarantee {
        &__wrapper {
            gap: 40px;
            min-height: 380px;
        }
        &__cards {
            gap: 30px;
        }
    }

    .rooms-card .rooms {
        &__room-info-wrapper {
            flex-direction: column;
        }

        &__room-info-characteristics-cards {
            flex-direction: row;
            gap: 60px;
            max-width: unset;
        }

        &__room-info-characteristics-card-icon {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 1180px) {

    .title-h2 {
        font-size: 48px;
    }

    .title-h3 {
        font-size: 36px;
    }
    .header {
        align-items: center;
        
        &__contacts-wrapper {
            display: none;
        }

        &__menu-wrapper{
            width: unset;
            background: var(--739276);
            border-radius: 100%;
            padding: 20px;
        }
        &__mobile-burger-icon path {
            fill: white;
		}
    }

    .footer {
        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }

        &__logo-wrapper {
            align-items: center;
            justify-content: center;
        }

        &__contacts-wrapper {
            align-items: center;
            justify-content: center;

        }

        &__social-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
    }

    .main-first-window{
        &__title {
            font-size: 48px;
        }
    }


    .rooms {
        &__wrapper {
            flex-direction: column;
            gap: 20px;
        }

        &__nav {
            flex-direction: row;
            width: 100%;
            overflow-x: scroll;
        }

        &__nav-item {
            padding: 0 40px;
            border-right: 1px solid var(--efefef);
            
        }

        &__nav-item-arrow {
            display: none;
        }

        &__nav-item-wrapper {
            border-bottom: unset;
            width: max-content;
            
        }
    }

    .gallery-restaurant {
        &__img-cards{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .advantages {
        &__cards {
            grid-template-columns: 1fr;
            gap: 40px;
        }
        &__card {
            border-right: unset;
        }
    }

    .guarantee {
        &__wrapper {
            grid-template-columns: 1fr;
           
        }

        &__img {
            width: 100%;
        }

        &__cards {
            justify-items: center;
        }

    }


    .rooms-card .rooms {
        &__nav {
            width: unset;
            max-width: unset;
        }

        &__nav-item-wrapper {
            border-top: unset;
        }
    }


    .restaurant-page {
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        &__img {
            max-height: 500px;
        }
    }

    .section-page {
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        &__img {
            width: 100%;
            max-height: 500px;
        }
    }

    .contacts-page {
        &__cards {
            flex-direction: column;
            gap: 40px;
        }
    }


}

@media (max-width: 960px) {

    .title-h2 {
        font-size: 42px;
    }

    .title-h3 {
        font-size: 32px;
    }
    .main-first-window{

        height: 100%;
        padding-bottom: 60px;

        &__block {
            gap: 40px;
        }

       &__wrapper {
            flex-direction: column;
            gap: 40px;
       }

       &__labels {
        justify-content: center;
       }

       &__title {
        text-align: center;
       }

       &__description {
        text-align: center;
       }
       &__slider-nav {
        justify-content: center;
       }
    }

    .convenience {
        &__items {
            max-width: 300px;
            gap: 40px;
        }

        &__item-wrapper {
            border-right: unset;
        }

    }

}

@media(max-width: 840px) {
    .rooms {
        &__room-nav {
            padding: 15px 20px;
        }

        &__title-button {
            padding: 10px 20px;
        }

        &__nav-item {
            height: unset;
        }
    }

    .gallery-restaurant {
        &__img-cards{
            grid-template-columns: 1fr 1fr;
        }

        &__title-button {
            padding: 10px 20px
        }
    }

    .rooms-card .rooms {
        &__room-info-content-cards {
            grid-template-columns: 1fr 1fr;
        }

        &__room-info-content-card {
            border-right: unset;
            margin-right: unset;
        }

        &__room-info-characteristics-cards {
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr 1fr;
        }

        &__room-nav {
            bottom: 30px;
        }
        
        &__room-content-block {
            height: 100%;
        }
    }
}


@media(max-width: 680px) {
    .container {
        padding: 0 15px;
    }

    .title-h2 {
        font-size: 36px;
    }

    .footer {
        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__info-wrapper {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        &__info-links {
            justify-content: center;
            align-items: center;
        }
        &__info-link {
            text-align: center;
        }

        &__contacts-wrapper {
            display: flex;
            flex-direction: column;
        }

        &__contacts-text {
            white-space: unset;
        }
    }

    .rooms {

        &__room-nav {
            gap: 20px;
        }
        &__room-nav-btn {
            width: 238px;
            height: 38px 
        }

        &__room-preview {
            gap: 7px;
        }

        &__room-preview-item {
            width: 36px;
            height: 36px;
        }

        &__room-img {
            min-height: 320px;
        }

        &__nav-item-wrapper {
            padding: 10px 0;
        }

        &__title-wrapper {
            gap: 30px;
            flex-wrap: wrap;
        }

        &__corpus-nav {
            overflow-x: scroll;
            gap: 10px;
        }
        
        &__corpus-nav-item {
            min-width: 237px;
        }
    }

    .gallery-restaurant {
        &__title-wrapper {
            gap: 30px;
            flex-wrap: wrap;
        }

        &__menu-section {
            width: 100%;
        }

        &__menu-food-item {
            gap: 60px;
        }
    }

    .guarantee {

        &__cards-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__cards {
            grid-template-columns: 1fr;
            width: max-content;
        }

        &__card {
            width: 265px;
        }
      
        &__card-number{
            font-size: 60px;
        }
        &__text {
            font-size: 16px;
        }

        &__img {
            min-height: 250px;
        }
    }

    .rooms-card .rooms {
        &__room-info-content-cards {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        &__room-info-characteristics-cards {
            grid-template-columns: 1fr;
        }

        &__room-info-title-wrapper {
            flex-direction: column;
            text-align: center;
            gap: 15px;
        }
    }

    .restaurant-page {
        &__cards {
            grid-template-columns: 1fr;
        }
    }

    .section-page {
        &__text {
            font-size: 20px;
        }

        &__text-green {
            font-size: 20px;
        }
    }
}


        
   

@media(max-width: 480px) {
    .header {
        &__logo {
            width: 120px;
        }
        
        &__mobile-burger {
            width: 30px;
        }

        &__menu-wrapper {
            padding: 16px;
        }

    }

    .main-first-window {
        &__booking-wrapper{
            width: 100%;
        }

        &__title {
            font-size: 36px;
            margin-bottom: 10px;
        }
        &__description {
            font-size: 20px;
        }

        &__label {
            width: 98px;
        }

        &__label-text {
            font-size: 10px;
        }
        
    }

    .gallery-restaurant {
        &__img-cards {
            grid-template-columns: 1fr;
            align-items: center;
        }

    }

    .gallery-spa {
        &__img-cards {
            grid-template-columns: 1fr;
            align-items: center;
        }
    }

    .rooms-card .rooms {
        
        &__room-info-block {

            padding-left: 0;
            padding-right: 0;
        }
        
    }

    .rooms-page {
        height: 600px;
    }

    .contacts-map {
        &__wrapper {
            height: 400px;
        }
    }
    
}

@media(max-width: 389px) {
   .mobile-modal-menu {
        &__logo {
            width: 160px;
        }
   }
   .gallery-restaurant {
        &__menu-food-item {
            flex-wrap: wrap;
            gap: 12px;
        }

        &__menu-food-item-price {
            text-align: left;
        }
   }
}


