@import './reset';

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Italic.eot');
    src: local('../fonts/TT Norms Italic'), local('TTNorms-Italic'),
        url('../fonts/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Italic.woff2') format('woff2'),
        url('../fonts/TTNorms-Italic.woff') format('woff'),
        url('../fonts/TTNorms-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-MediumItalic.eot');
    src: local('../fonts/TT Norms Medium Italic'), local('TTNorms-MediumItalic'),
        url('../fonts/TTNorms-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-MediumItalic.woff2') format('woff2'),
        url('../fonts/TTNorms-MediumItalic.woff') format('woff'),
        url('../fonts/TTNorms-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Medium.eot');
    src: local('../fonts/TT Norms Medium'), local('TTNorms-Medium'),
        url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Medium.woff2') format('woff2'),
        url('../fonts/TTNorms-Medium.woff') format('woff'),
        url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Regular.eot');
    src: local('../fonts/TT Norms Regular'), local('TTNorms-Regular'),
        url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Regular.woff2') format('woff2'),
        url('../fonts/TTNorms-Regular.woff') format('woff'),
        url('../fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
	--131313: #131313;
	--739276: #739276;
	--e0dccd: #e2d6a7;
	--efefef: #efefef;
	--383838: #333;
    --font-family: "TT Norms", sans-serif;
}


*{
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: unset;
    color: unset;
}

.none {
    display: none !important;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 50px;
    height: inherit;
}

.title-h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    color: var(--383838);
}

.title-button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--739276);
    padding: 15px 30px;
    border: 1px solid var(--739276);
    border-radius: 99px;
}



.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;

    &__logo {
        width: 203px;
    }

    &__menu-wrapper {
        background-color: #FFF;
        display: flex;
        align-items: center;
        padding: 17px 30px;
        border-radius: 3px;
        gap: 20px;
        width: 100%;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 35px;
    }

    &__menu-item {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 13px;
        line-height: 154%;
        text-transform: uppercase;
        color: var(--383838);
    }

    &__contacts-wrapper {
        display: flex;
    }

    &__address {
        max-width: 280px;
        display: flex;
        gap: 10px;
        align-items: center;
        padding-left: 20px;
        border-left: 1px solid var(--efefef);
    }

    &__address-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--131313);
    }

    &__сonnection {
        padding-left: 20px;
        border-left: 1px solid var(--efefef);
    }

    &__phone-wrapper {
        display: flex;
        gap: 13px;
        align-items: center;
        margin-bottom: 8px;
    }

    &__phone-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--131313);
    }

    &__email-wrapper {
        display: flex;
        gap: 13px;
        align-items: center;
    }

    &__email-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--131313);
    }

    &__mobile-burger {
        display: none;
    }
}
.mobile-modal-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100000;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;

    &__logo {
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__menu-item {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 154%;
        text-transform: uppercase;
        color: var(--383838);
        width: 100%;
        height: 80px;
        border-bottom: 1px solid var(--efefef);
    }

    &__contacts-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    &__address {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        padding: 0 20px;
    }

    &__address-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 143%;
        color: var(--131313);
        text-align: center;
    }

    &__сonnection {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    &__phone-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column;
  
    }

    &__phone-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 143%;
        color: var(--131313);
    }

    &__email-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column;
    }

    &__email-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 143%;
        color: var(--131313);
    }

    &__menu-icon {
        width: 40px;
    }
    
    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}


/* Главная страница*/

.main-first-window {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/main-first-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 120px;

    &__block {
       display: flex;
       flex-direction: column;
       height: inherit;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-between;
        gap: 15px;
    }

    &__labels {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 25px;
    }

    &__label {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 99px;
        padding: 8px 20px;
        width: 116px;
        height: 34px;
        backdrop-filter: blur(50px);
        background: rgba(115, 146, 118, 0.5);
    }

    &__label-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        line-height: 146%;
        letter-spacing: 0.1em;
        text-align: center;
        color: #fff;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 64px;
        color: #fff;
        margin-bottom: 5px;
    }

    &__description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        color: #fff;
        margin-bottom: 50px;
    }

    &__slider-nav {
        display: flex;
        gap: 20px;
    }

    &__slider-numbers {
        display: flex;
        gap: 15px;
    }

    &__slider-current-number {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        color: #b6b6b6;
    }

    &__slider-numbers-dash {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        color: #fff;
    }

    &__slider-total-number {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        color: #fff;
    }

    &__booking-wrapper {
        padding: 50px 30px;
        width: 430px;
        border-radius: 3px;
        background-color: #FFF;   
    }

    &__booking-title {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 24px;
        line-height: 83%;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        text-align: center;
        color: var(--383838);
        margin-bottom: 30px;
    }

    &__date-wrapper {
        width: 100%;
        background: #f1f1f1;
        border-radius: 99px;
        height: 50px;
        padding: 7px 15px;
        display: flex;
        align-items: center;
        gap: 11px;
        margin-bottom: 15px;
    }

    &__date-text-wrapper {
        padding-left: 15px;
        border-left: 1px solid #ccc;
    }

    &__date-input-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: #a0a0a0;
    }

    &__date-input-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: #1b1b1b;
    }

    &__search-btn {
        width: 100%;
        padding: 17px 34px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background: var(--739276);
        border-radius: 99px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

}


.rooms {
    margin-bottom: 120px;

    &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 46px;
    }

    &__title {
    }


    &__corpus-nav {
        margin-bottom: 25px;
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &__corpus-nav-item {
        padding: 13px 40px;
        border-radius: 99px;
        background: #d3d3d3;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 106%;
        text-align: center;
        color: var(--383838);
        display: flex;
        align-items: center;
        gap: 10px;

        &_active {
            color: #fff;
            background: var(--739276);
        }
    }

    &__corpus-nav-item_active &__corpus-nav-icon g rect{
       fill: #FFF;
    }

    &__wrapper {
        display: flex;
        gap: 60px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        background-color: var(--739276);
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 10px 20px 0 rgba(104, 104, 104, 0.2);
        width: 29vw;
        min-width: 310px;
    }

    &__nav-item {
        
        background-color: var(--739276);
        padding: 0 20px;
        transition: background-color .5s ease;
       
        &_active {
            background-color: #5B7E5E;
        }
    }

    &__nav-item-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #5b765e;
        padding: 20px 0;
    }

    &__nav-item:last-child &__nav-item-wrapper{
        border-bottom: unset;
    }

    &__nav-item_active &__nav-item-wrapper {
        border-bottom: unset;
    }

    &__nav-item-text-wrapper {
        text-align: left;
    }

    &__nav-item-name {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 21px;
        color: #fff;
        margin-bottom: 8px;
    }

    &__nav-item-price {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #fff;
    }

    &__nav-item-price-value {
        font-weight: 800;
    }

    &__nav-item-arrow {
        width: 0;
        opacity: 0;
        transition: opacity .5s ease;
    }
    &__nav-item_active &__nav-item-arrow {
        width: unset;
        opacity: 1;
    }

    &__room-img-wrapper {
        height: 100%;
        position: relative;
    }

    &__room-img {
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
        object-position: center;
    }

    &__room-nav {
        position: absolute;
        bottom: 0px;
        display:  flex;
        justify-content: space-between;
        width: 100%;
        padding: 50px 40px;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap-reverse;
    }

    &__room-preview {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        
    }

    &__room-preview-item {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        background-image: url('../img/rooms__single-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        &_active {
            border: 1px solid #FFF;
        }
    }

    &__room-nav-btn {
        border-radius: 99px;
        padding: 10px 25px;
        width: 310px;
        height: 44px;
        background-color: #FFF;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        color: var(--131313);
    }
}



/* Медиа запросы */

@media (max-width: 1600px) {
    .header {

        &__menu {
            display: none;
        }

		&__mobile-burger {
            display: block;
		}

		&__mobile-burger-icon {
		}

        &__menu-wrapper{
            justify-content: space-between;
        }

        &__address {
            padding-left: unset;
            border-left: unset;
        }
    }
}

@media (max-width: 1180px) {
    .header {
        align-items: center;
        
        &__contacts-wrapper {
            display: none;
        }

        &__menu-wrapper{
            width: unset;
            background: var(--739276);
            border-radius: 100%;
            padding: 20px;
        }
        &__mobile-burger-icon path {
            fill: white;
		}
    }

    .main-first-window{
        &__title {
            font-size: 48px;
        }
    }
}

@media (max-width: 960px) {
    .main-first-window{

        height: 100%;
        padding-bottom: 60px;

        &__block {
            gap: 40px;
        }

       &__wrapper {
            flex-direction: column;
            gap: 40px;
       }

       &__labels {
        justify-content: center;
       }

       &__title {
        text-align: center;
       }

       &__description {
        text-align: center;
       }
       &__slider-nav {
        justify-content: center;
       }
    }
}

@media(max-width: 640px) {
    .container {
        padding: 0 15px;
    }
}

@media(max-width: 480px) {
    .header {
        &__logo {
            width: 120px;
        }
        
        &__mobile-burger {
            width: 30px;
        }

        &__menu-wrapper {
            padding: 16px;
        }

    }

    .main-first-window {
        &__booking-wrapper{
            width: 100%;
        }

        &__title {
            font-size: 36px;
            margin-bottom: 10px;
        }
        &__description {
            font-size: 20px;
        }

        &__labels {
            
        }

        &__label {
            width: 90px;
        }

        &__label-text {
            font-size: 10px;
        }
        
    }

    
}

@media(max-width: 389px) {
   .mobile-modal-menu {
        &__logo {
            width: 160px;
        }
   }
}


